#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  border: 2px dashed grey;
}

input {
  margin: 0.4rem 0;
}

.upload {
  font-weight: normal;
  color: rgb(101, 101, 255);
}

.delete {
  font-weight: normal;
  color: rgb(101, 101, 255);
  margin-left: 10px;
}

.card-drive {
  padding: 2em;
}

.id-folder {
  width: 280px;
  font-size: 14px;
  padding: 5px;
  margin: 10px;
  text-align: center;
}
